.popup__success {
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
   display: none;
   width: 100%;
}

.popup__img {
   width: 120px;
   height: 120px;
   margin-bottom: 34px;

}

.popup__text {
   color: #000;
   text-align: center;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   margin-bottom: 24px;
}

@media screen and (max-width: 700px) {
   .popup__success {
      
      width: 280px;
      height: 308px;
   }
}