.profile {
   position: relative;
   display: grid;
   grid-template-columns: 150px 1fr 150px;
   align-items: center;
   padding: 39.25px 0 51px 0;
}

@media screen and (max-width: 700px) {
   .profile {
       display: flex;
       flex-direction: column;
       justify-content:  flex-start;
       padding: 40.5px 0 36px 0;
   }
}